* {
    box-sizing: border-box;
}

BODY {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(lib/backdrop.webp);
    background-repeat: repeat;
}

.window {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.window .titlebar {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding: 0.3em;
    font-weight: bold;
    cursor: move;
}

.window .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.3em;
}

.window .resizer {
    position: absolute;
    right: -6px;
    bottom: -6px;
    width: 1em;
    height: 1em;
    background-color: red;
    cursor: nwse-resize;
}

.hbox {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.vbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.expand { flex-grow: 999; }
.noexpand { flex-shrink: 0; }

.editor-codecontainer {
    position: relative;
    flex-grow: 1;
    overflow: auto;
}

.CodeMirror {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.CodeMirror-error {
    font-size: 80% !important;
    background-color: #f88 !important;
}

button input {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
}

.centred {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}